<form [formGroup]="roomForm">
  <div class="flex flex-column mb-3">
    <label for="name" class="mb-1">Name</label>
    <input pInputText id="name" aria-describedby="name-help" formControlName="Name" />
    <small id="username-help" *ngIf="(roomForm.controls['Name'].errors?.['required'] && (roomForm.controls['Name'].dirty || roomForm.controls['Name'].touched)
    || roomForm.controls['Name'].errors?.['pattern'])">Enter your name.</small>
  </div>
  <div class="flex flex-column mb-4">
    <label for="description" class="mb-1">Description</label>
    <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="Description"
      placeholder="Summary..."></textarea>
  </div>
  <div class="flex justify-content-end">
    <p-button label="Cancel" (click)="cancel()" class="mx-2" styleClass="p-button-outlined w-full">
    </p-button>
    <p-button label="Create room" (click)="submit()"></p-button>
  </div>
</form>
