<div class="col flex flex-column h-full">
  <div class="row file section" *ngIf="isDiagram() || isEndOrStart()">
    <input
      pInputText
      type="text"
      class="p-inputtext-lg props-header font-bold"
      [(ngModel)]="diagram.Name"
    />
    <div class="flex flex-column mt-4">
      <label htmlFor="functions-group">Functions group</label>
      <p-dropdown
        [options]="funcGroups"
        id="function"
        class="props-dropdown"
        [ngModel]="funcGroup"
        (ngModelChange)="onChangeFuncGroup($event)"
      ></p-dropdown>
    </div>
    <div class="flex flex-column mt-3">
      <label htmlFor="description">Description</label>
      <textarea
        rows="5"
        cols="30"
        id="description"
        class="props-input"
        pInputTextarea
        [(ngModel)]="diagram.Description"
      ></textarea>
    </div>
  </div>

  <div
    class="elements section"
    *ngIf="!(isDiagram() || isEndOrStart()) && !isOutput()"
  >
    <div class="input">
      <h3>Input values</h3>
      <div
        class="flex justify-content-between flex-column"
        *ngFor="let varib of element.InputParameters"
      >
        <div class="col">
          <label for="name">Name</label>
          <input
            pInputText
            type="text"
            class="props-input w-full"
            [(ngModel)]="varib.Name"
            [disabled]="isSignal"
            *ngIf="isInput()"
          />
          <p-dropdown
            class="props-dropdown w-full"
            [options]="variables"
            *ngIf="!isInput()"
            [(ngModel)]="varib.Name"
            optionLabel="Name"
            optionValue="Name"
            placeholder="Select"
          >
            <ng-template let-value pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ value.Name }}</div>
                <div class="color-light ml-auto" *ngIf="value.Value">
                  init value: {{ value.Value }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-12">
          <label for="type">Value Type</label>
          <input
            pInputText
            type="text"
            class="props-input w-full"
            [(ngModel)]="varib.Type"
            [disabled]="isSignal || !(isInput() || isOutput())"
          />
          <!-- select form the list -->
        </div>

        <div class="col-12" *ngIf="isInput()">
          <label for="type">Value</label>
          <input
            pInputText
            type="text"
            class="props-input w-full"
            [(ngModel)]="varib.Value"
            [disabled]="isSignal"
          />
          <!-- select form the list -->
        </div>
      </div>
    </div>
  </div>

  <div
    class="task section"
    *ngIf="!(isDiagram() || isEndOrStart()) && !(isInput() || isOutput())"
  >
    <h3>Function</h3>
    <div class="row">
      <div class="col">
        <label for="function">Function</label>
        <p-dropdown
          [options]="functions"
          id="function"
          class="props-dropdown"
          [(ngModel)]="element.FunctionName"
          (onChange)="OnChangeFunction($event)"
        ></p-dropdown>
        <!-- select form the list -->
      </div>
    </div>
  </div>
  <div
    class="output section"
    *ngIf="!(isDiagram() || isEndOrStart()) && !isInput() && !isLoop()"
  >
    <div class="row">
      <h3>Output value</h3>
      <div class="row" *ngFor="let varib of element.OutputParameters">
        <div class="col">
          <label for="name">Name</label>
          <input
            pInputText
            type="text"
            class="props-input w-full"
            [(ngModel)]="varib.Name"
            [disabled]="isSignal"
          />
        </div>
        <div class="col">
          <label for="type">Value Type</label>
          <input
            pInputText
            type="text"
            class="props-input w-full"
            [(ngModel)]="varib.Type"
            [disabled]="isSignal || !(isInput() || isOutput())"
          />
          <!-- select form the list -->
        </div>
      </div>
    </div>
  </div>
  <p-button
    *ngIf="!(isDiagram() || isEndOrStart())"
    label="Apply"
    class="mt-auto align-self-stretch w-full"
    styleClass="p-button-rounded w-full "
    (onClick)="apply()"
  ></p-button>
</div>

<p-confirmDialog></p-confirmDialog>
