@import '../../themes/variables.scss';
.logo {
  //height: 80%;
  background-color: #bb5d00;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: #e6f4f1;
  text-shadow: 2px 2px 0px var(--primary-color);
  margin-left: 1.5rem;
  margin-right: 1rem;
}

::ng-deep .p-menubar {
  background-color: var(--primary-500);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
    .p-menuitem-icon, .p-menuitem-text, .p-submenu-icon {
      color: var(--primary-100);
    }

    &:hover {
      background-color: var(--primary-400);
    }
  }

  .p-menu-separator {
    border: var(--primary-300) 1px solid;
    height: 25px;
    width: 1px;
  }
  .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--primary-500);
    .p-menuitem-icon, .p-menuitem-text, .p-submenu-icon {
      color: var(--primary-300);
    }
    color: var(--primary-200); /* Change to your desired text color */
  }
  .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-menuitem-icon.pi-replay {
    transform: rotateY(180deg);
  }
}
