<p-menubar [model]="documentActions"></p-menubar>

<div class="row">
  <div class="modeler">
    <div #diagramRef class="diagram-container"></div>
  </div>
  <div class="editor-dock-zoom">
    <p-button icon="pi pi-fw pi-arrows-alt" styleClass="p-button-outlined" (click)="fitContent()"></p-button>
    <p-button icon="pi pi-plus" styleClass="p-button-outlined" (click)="zoomIn()"></p-button>
    <p-button icon="pi pi-minus" styleClass="p-button-outlined" (click)="zoomOut()"></p-button>
  </div>
</div>
<div class="grid">
  <div class="console col-4">
    <div class="console-header">
      <div class="console-title">Console</div>
      <!-- <p-button icon="pi pi-times" styleClass="p-button-outlined" (click)="clearConsole()"></p-button> -->
    </div>
    <div class="console-content">
      <p *ngFor="let msg of resultConsole"  class="log-row"> {{msg}}</p>
    </div>
  </div>
  <div class="logs col">
    <div class="logs-header">
      <div class="logs-title">Logs</div>
      <!-- <p-button icon="pi pi-times" styleClass="p-button-outlined" (click)="clearLogs()"></p-button> -->

    </div>
    <div class="logs-content">
      <div *ngFor="let log of logs" class="log-row">{{log}}</div>
    </div>
  </div>