.separator{
    margin: 0 10px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.editor-control{
    position: absolute;
    top: 80px;
    right: calc(25% + 16px);

    button{
      color:#000
    }

}
